@import "tailwindcss";

:root {
    font-family: 'Orbitron', sans-serif;
    background-color: #050505;
    color: #ffffff;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
}